.toolbar {
    display: flex;
    justify-content: space-between;
}

.set-options {
    display: flex;
}

.set-title {
    text-align: center;
    background: #fff455;
    margin: 1%;
    font-size: large;
}