ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    list-style-type: none;
    gap: 10px;
}

Link {
    padding: 10px;
    border: solid 3px;
    border-radius: 20%;
}

.add-set-card {
    background: white;
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
}

.add-set-card:hover {
    background-color: #b2b2b2;
}

.add-set-card > p {
    color: black;
    font-size: 50px;
    font-weight: bold;
}
