ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    list-style-type: none;
    gap: 10px;
}

Link {
    padding: 10px;
    border: solid 3px;
    border-radius: 20%;
    width: 500px;
    height: 300px;
}

.add-set-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: solid black 2px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 24px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.26);
    transition: all 1s;
}

.add-set-card:hover {
    background-color: #b2b2b2;
}

.add-set-card > p {
    color: black;
    font-size: 50px;
    font-weight: bold;
}
