.message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #DFD0B8;
    margin: 14px auto;
    padding: .5rem 1.5rem;
    width: 25%;
}

.form {
    width: 50%
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #E6B325, #FFFFFF);
}

.input input {
    border-radius: 10px;
}

.signup {
    display: flex;
    margin: auto;
    background: #3C5B6F;
    color: #FFFFFF;
    border-radius: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    border: solid black 2px;
    /* margin: 10px; */
}


.redirect {
    display: flex;
    justify-content: center;
    margin: 14px auto;
    background-color: #DFD0B8;
    border-radius: 10px;
    width: 25%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}