Button {
  font: inherit;
  background: #8e8e8e;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 0 0.5em;
  border: solid black 1px;
  border-radius: 5px;
  width: fit-content;
  width: 150px; 
  height: 50px;
}

Button:hover,
Button:active {
  background: #b5b5b5;
}

Button:focus {
  outline: none;
}
